<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="desktop">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="overlap-group">
            <div class="rectangle"></div>
            <div class="user-acc">
              <img class="icon-profile-circled" src="img/icon-profile-circled.png" />
              <div class="text-wrapper">User firstnamelastname</div>
              <div class="div">User Type</div>
            </div>
            <div class="features">
              <div class="text-wrapper-2">Dashboard</div>
              <div class="text-wrapper-3">Feature 1</div>
              <div class="text-wrapper-4">Feature 3</div>
              <div class="text-wrapper-5">Feature 2</div>
            </div>
            <div class="logout">
              <div class="overlap-group-2">
                <div class="text-wrapper-6">Logout</div>
                <img class="icon-log-out" src="img/icon-log-out.png" />
              </div>
            </div>
            <div class="LMS">
              <div class="overlap-2">
                <img class="icon-report-columns" src="img/icon-report-columns.png" />
                <div class="leave-management">Leave Management<br />System</div>
              </div>
            </div>
            <div class="leave-details">
              <div class="overlap-3">
                <div class="rectangle-2"></div>
                <div class="rectangle-3"></div>
                <div class="rectangle-4"></div>
                <div class="rectangle-5"></div>
                <div class="rectangle-6"></div>
                <div class="rectangle-7"></div>
                <p class="p">Your leave statistics for this sem</p>
                <div class="text-wrapper-7">Leave Details</div>
                <div class="text-wrapper-8">Casual Leave</div>
                <div class="text-wrapper-9">Earned Leave</div>
                <div class="text-wrapper-10">Special Leave</div>
                <div class="text-wrapper-11">Full Stats</div>
                <div class="text-wrapper-12">Restricted Holidays</div>
                <img class="illustration" src="img/illustration-enjoying-summer-indoors.png" />
                <div class="text-wrapper-13">3/5</div>
                <div class="text-wrapper-14">12/15</div>
                <div class="text-wrapper-15">12/15</div>
                <div class="text-wrapper-16">1/2</div>
                <img class="illustration-bitcoin" src="img/illustration-bitcoin-cash-money.png" />
                <img class="icon-special-event" src="img/icon-special-event.png" />
                <div class="icon-document">
                  <div class="vector-wrapper"><img class="vector" src="img/vector-2.svg" /></div>
                  <div class="overlap-4">
                    <img class="group" src="img/group.png" />
                    <img class="img" src="img/vector.svg" />
                    <div class="text-wrapper-17">!</div>
                  </div>
                </div>
                <img class="icon-chevron-back" src="img/icon-chevron-back-circle-outline.png" />
              </div>
            </div>
          </div>
          <div class="text-wrapper-18">Dashboard</div>
        </div>
      </div>
    </div>
  </body>
</html>
